// // Background
// $background-color: #040B0A;

// // Containers
// $container-color: #0C1312;

// // Text
// $text-color: #DEF3F1;

// // Text Before

// $text-before: hsl(174, 3%, 91%);

// // Primary
// $primary-color: #8BDED7;

// // Secondary
// $secondary-color: #238F86;

// // Accent
// $accent-color: #4BDACE;

// Background
$background-color: #F4FBFA;

// Containers
// $container-color: #EBF3F2;
$container-color: #e6e6e6;

// Text
$text-color: #0C2220;

// Text Before

$text-before: darkgrey;

// Primary
$primary-color: #21736C;

// Secondary
$secondary-color: #6FDCD3;

// Accent
$accent-color: #25B6AA;