@import '../../Sass/variables', '../../Sass/mixins';

header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(45deg, $primary-color, $accent-color);
  height: 100vh;
  img {
    width: 150px;
    height: 150px;
    @include border-radius;
  }
  .header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      color: $text-color;
      font-family: "Satisfy", cursive;
      font-size: 50px;
    }
    .sub-heading{
      color: $background-color;
      font-size: 25px;
      font-weight: 600;
    }
  }
}