@import '../../Sass/variables', '../../Sass/mixins';

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: $container-color;
  display: flex;
  padding: 20px;
  img {
    width: 15%;
    border-radius: 5px;
  }
  ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 80%;
    li {
      box-sizing: border-box;
      display: flex;
      justify-content: baseline;
      padding: 5px;
      font-size: 14px;
      font-weight: 600;
      border-bottom: 1px solid transparent;
      &:hover {
        color: $text-color;
        cursor: pointer;
        transition: .5s;
        border-bottom: 1px solid $accent-color;
        .nav-icon {
          color: $primary-color;
          transition: .5s;
        }
      }
      .nav-icon {
        color: $secondary-color;
        margin-right: 5px;
      }
    }
  }
}